<ion-card>
  <ion-card-header>
      <ion-card-title class="ion-text-center">{{disease.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item-divider>
        <ion-label>Symptome</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label class="ion-text-wrap">{{ disease.signs.join(', ') }}</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>Ursachen</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label class="ion-text-wrap">{{ disease.causes }}</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>Komplikationen</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label class="ion-text-wrap">{{ disease.complications }}</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>Therapie</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label class="ion-text-wrap">{{ disease.therapy }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>