<ion-header>
  <ion-toolbar>
    <ion-title>Suchen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip *ngFor="let sign of selectedSigns" (click)="remove(sign)">
    <ion-label>{{sign}}</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>

  <hr>

  <ion-searchbar type="text" debounce="50" animated placeholder="Suchen ..." (ionChange)="searchList($event)" clearInput></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let sign of signs" (click)="select(sign)">{{sign}}</ion-item>
  </ion-list>
 
  <hr>

  <ion-button expand="block" solid large (click)="search()">Suchen</ion-button>

  <ion-list>
    <app-disease-item *ngFor="let disease of diseases" [disease]="disease"></app-disease-item>
  </ion-list>
</ion-content>